language: php
php:
  - 5.3
  - 5.4
before_script:
  - wget --quiet http://getcomposer.org/composer.phar
  - php composer.phar install # --install-suggests doesn't work. See composer issue #510
  - ~/.nvm/nvm.sh run default vendor/guzzle/guzzle/tests/Guzzle/Tests/Http/server.js &
script: phpunit
